<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Course Manager</title>
    </head>
    <body>
        <!-- Main Body of Page -->

        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="">Superhero Sightings</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Superpersons <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Superpowers <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Locations <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Organizations <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Sightings <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- website description -->
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <p></p>
                <h1>Welcome to Superhero Sightings Tracker<br></h1>
                <h2>A platform for keeping track of the latest superperson news.<br></h2>
                <p>Add, edit, view or delete superson sighting-related information.<br></p>
            </div>
        </div>

        <!-- 10 Recent Sightings -->
        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sighting Time</th>
                            <th>Location</th>
                            <th>Superperson</th>
                        </tr>
                    </thead>
                    <tbody>
                        <h2>Recent Sightings</h2>
                        <tr th:each = "sighting :${sightings}">
                            <td th:text="${sighting.getSightingTime()}">Sighting Time</td>
                            <td th:text="${sighting.getLocationName()}">Location</td>
                            <td th:text="${sighting.getSuperpersonName()}">Superperson</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>  
    <!-- End main body -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>;