<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Superhero Sightings Tracker</title>
    </head>
    <body>
        <!-- Main Body of Page -->
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index">Superhero Sightings</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Superpersons <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Superpowers <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Locations <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Organizations <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Sightings <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Superperson info-->
        <div class ="float-left">
            <div id ="container" style ="white-space:nowrap">
                <div id ="image" style ="display:inline; float: left">
                    <img src="superpersonDefault.jpg" width = "500" height = "500">
                </div>       
            </div>
            <div id = "texts" style="white-space:pre-line; word-wrap:break-word;">
                <h1 th:text ="${superperson.name}"></h1><br>
                Alignment: <span th:text ="${superperson.alignment}"></span><br>
                Superpower: <span th:text ="${superperson.superpower}"></span><br>
                Description: <span th:text ="${superperson.description}"></span><br>


            </div>
        </div>
        <!--Edit superperson-->
        <div class="row m-4 border border-dark">
            <div class="col-3 text-center m-3">
                <span class="h3">Edit Superperson</span>
            </div>
            <div class="col-7 text-center m-3">
                <form action="editSuperperson" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">Name</label>
                        <div class="col-9">
                            <input type="text" name="name" id="name" class="form-control" value="name" th:value="${superperson.name}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="alignment" class="col-3 col-form-label">Alignment</label>
                        <div class="col-9">
                            <select class="form-control" name="alignment" id="alignment">
                                <option selected>Select Alignment</option>
                                <option value="1">Hero</option>
                                <option value="2">Villain</option>
                                <option value="3">Unknown</option>
                            </select>
                            <!--<input type="text" name="alignment" id="alignment" class="form-control"/>-->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="longitude" class="col-3 col-form-label">Superpower</label>
                        <div class="col-9">
                            <input type="text" name="superpower" id="superpower" class="form-control" value="superpower"  th:value ="${superperson.superpower}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">Description</label>
                        <div class="form-group">
                            <textarea class ="form-control" name ="description" id ="description" rows="7" cols="50" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'th:text ="${superperson.description}"></textarea>
                            <!--<input type="text" name="description" id="description" class="form-control"/>-->
                        </div>
                    </div>
                    <input type="hidden" name="id" th:value="${superperson.superpersonId}"/>
                    <button type="submit" class="btn btn-primary">Edit Superperson</button>
                </form>
            </div>
        </div>

        <!-- End main body -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
